<h3>Password generator</h3>
<form>
  <input id="passwordOutput" #passwordOutput value="{{ newPassword }}" />
  <div class="flex">
    <input
      type="range"
      (change)="updatePasswordLength($event)"
      min="4"
      max="32"
      step="1"
      value="{{ passwordLenght }}"
    />
    <input type="text" value="{{ passwordLenght }}" />
  </div>

  <div class="checkboxes flex">
    @for (checkbox of checkboxes; track $index) {
      <span>
        <input
          type="checkbox"
          (change)="updateCheckboxValue($event)"
          id="{{ checkbox.id }}"
          [checked]="checkbox.checked"
        />
        <label for="{{ checkbox.id }}">{{ checkbox.label }}</label>
      </span>
    }
  </div>

  <button type="button" (click)="generatePassword()">{{ buttonLabel }}</button>
</form>
