<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>PandaManager</h1>
    </div>
    <div class="divider" role="separator"></div>
    <div>
      <mat-nav-list>
        <mat-list-item routerLink="/generate" [activated]="false">
          <a matListItemTitle>יצירת סיסמא</a>
        </mat-list-item>
        <mat-list-item routerLink="/vault" [activated]="false">
          <a matListItemTitle>כספת</a>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
</main>
