@if (isLoading) {
  <div class="loading">
    <mat-spinner></mat-spinner>
  </div>
} @else {
  <div class="header">
    <button routerLink="create" mat-mini-fab color="primary">
      <mat-icon>add</mat-icon>
    </button>
    <input class="search" [formControl]="searchControl" placeholder="Search" />
  </div>
  <mat-accordion>
    @for (credential of displayedCredentials; track $index) {
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <div class="credential">
            <span class="host">{{ credential.host }}</span>
            <span class="login">{{ credential.login }}</span>
          </div>
        </mat-expansion-panel-header>
        <div class="password-input-wrapper">
          <input
            class="password-input"
            [type]="shownPasswordDict[credential.id] ? 'text' : 'password'"
            type="text"
            readonly
            [value]="shownPasswordDict[credential.id] ?? 'password template'"
          />
          <div class="toggle-icon" (click)="showPasswordClicked(credential)">
            {{ shownPasswordDict[credential.id] ? '👁' : '🔒' }}
          </div>
        </div>
      </mat-expansion-panel>
    }
  </mat-accordion>
}
