@if (isCredentialLoading) {
  <div class="loading">
    <mat-spinner></mat-spinner>
  </div>
} @else {
  <div class="header">
    <div>
      <button routerLink="create" mat-mini-fab color="primary">
        <mat-icon>add</mat-icon>
      </button>
      <input
        class="search"
        [formControl]="searchControl"
        placeholder="Search"
      />
    </div>
    <div>
      @if (isSavePasswordVisible()) {
        <button class="save" mat-icon-button (click)="onUpdatePasswords()">
          <mat-icon>save</mat-icon>
        </button>
      }
    </div>
  </div>
  <mat-accordion>
    @for (credential of displayedCredentials; track $index) {
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <div class="credential">
            <span class="host">{{ credential.host }}</span>
            <span class="login">{{ credential.login }}</span>
          </div>
        </mat-expansion-panel-header>
        <div class="password-input-wrapper">
          <input
            class="password-input"
            [type]="shownPasswordDict[credential.id] ? 'text' : 'password'"
            [readonly]="!shownPasswordDict[credential.id]"
            (input)="onPasswordChange($event, credential.id)"
            [value]="getPasswordToShow(credential.id)"
          />
          <div class="toggle-icon" (click)="showPasswordClicked(credential)">
            {{ shownPasswordDict[credential.id] ? '👁' : '🔒' }}
          </div>
          <div
            class="delete-icon"
            (click)="deleteCredentialClicked(credential)"
          >
            <mat-icon>delete</mat-icon>
          </div>
        </div>
      </mat-expansion-panel>
    }
  </mat-accordion>
}
<ngx-loading
  [show]="isDecrtptionLoading"
  [config]="{ backdropBorderRadius: '3px' }"
></ngx-loading>
